    <%- include("./partials/head.ejs") %>
    <div class="container">
        <div class="row">
            <div class="col-12">
               <div class="text-center pt-4 pb-2">
                    <h1>OOPS !</h1>
                    <div>Une erreur est survenu. La page demandée n'a pas été trouvée</div>
                </div>
                <div class="text-center mt-2 mb-2">
                    <a href="/auth" class="btn btn-dark btn-lg mr-10">Page de connexion</a>
                </div>                
            </div>
        </div>
    </div>
    <%- include("./partials/footer.ejs") %>